<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />

    <title>Document</title>

    <link rel="stylesheet" href="../../static/chatbox_ai/css/chat.css" />
  </head>
  <body>
    <div class="container">
      <div class="left-content">
        <div class="addchat">
          <img class="logo" src="../../static/chatbox_ai/img/ai-logo.png" alt="" />
          <h2>New Chat</h2>
          <i class="fa-regular fa-pen-to-square fa-xl"></i>
        </div>

        <div class="listview">
          <ul>
            <li>
              <p>Đoạn chat 1</p>
              <i class="fa-solid fa-trash icon"></i>
            </li>
            <li>
              <p>Đoạn chat 2</p>
              <i class="fa-solid fa-trash icon"></i>
            </li>
            <li>
              <p>Đoạn chat 3</p>
              <i class="fa-solid fa-trash icon"></i>
            </li>
            <li>
              <p>Đoạn chat 4</p>
              <i class="fa-solid fa-trash icon"></i>
            </li>
            <li>
              <p>Đoạn chat 5</p>
              <i class="fa-solid fa-trash icon"></i>
            </li>
            <li>
              <p>Đoạn chat 6</p>
              <i class="fa-solid fa-trash icon"></i>
            </li>
            <li>
              <p>Đoạn chat 7</p>
              <i class="fa-solid fa-trash icon"></i>
            </li>
            <li>
              <p>Đoạn chat 8</p>
              <i class="fa-solid fa-trash icon"></i>
            </li>
            <li>
              <p>Đoạn chat 9</p>
              <i class="fa-solid fa-trash icon"></i>
            </li>
            <li>
              <p>Đoạn chat 10</p>
              <i class="fa-solid fa-trash icon"></i>
            </li>
          </ul>
        </div>

        <div class="account">
          <img class="avatar" src="../../static/chatbox_ai/img/ai-logo.png" alt="" />
          <h2>Tên tài khoản</h2>
        </div>
      </div>
      <div class="right-content">
        <div class="chat-content"></div>
        <div class="chat-box">
          <div class="chat">
            <input
              type="text"
              id="message-input"
              placeholder="Nhập tin nhắn..."
            />
            <button class="send-button">Gửi</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
